<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

      <%= stylesheet_link_tag 'humanity/jquery-ui-1.8rc3.custom', :media => 'screen' %>
      <%= stylesheet_link_tag 'custom' %>
      <%= stylesheet_link_tag 'formtastic' %>
      <%= stylesheet_link_tag 'formtastic_changes' %>

      <%= javascript_include_tag 'jquery-1.4.2.min','jquery-ui-1.8rc3.custom.min', 'jquery.livequery','jquery.hoverIntent.minified', 'application' %>

  </head>

  <body>
<!-- wrapper not found in app.html.erb -->
    <div id="wrapper">
      <!-- renders header in app.html.erb -->
      <%= render 'layouts/public_form' %>

      <div id="content">
        <div class="container">
          <%= render 'shared/flashes' %>

          <%= yield %>
        
        </div>
      </div>

        <%= render 'layouts/footer' %>

        <script type="text/javascript">
          <%= yield :javascript %>
        </script>
    </div>
  </body>
</html>